.LoginContainer {
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 1.5rem 2rem;
  height: 80vh;
  background-color: #fff;
  border-radius: 0.5rem;
}

.LightFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 400px;
  row-gap: 2rem;
  padding: 0 1rem 4rem 1rem;
  height: 60vh;
}

.DarkFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 400px;
  row-gap: 2rem;
  padding: 0 1rem 4rem 1rem;
  height: 60vh;
}

.loginLogo {
  height: 20vh;
  padding: 1rem;
}

.ButtonLetter {
  font-size: 1rem;
}
