.LoginContainer {
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/loginbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    175,
    185,
    185,
    0.5
  ); /* Change the last value (0.5) to adjust opacity */
}

.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  padding: 1.5rem 2rem;
  height: 25rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.LightFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 80%;
  row-gap: 1.5rem;
  padding: 0 1rem;
}

.DarkFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  row-gap: 1.5rem;
  padding: 0 1rem;
}

.loginLogo {
  max-height: 15vh;
}

.ButtonLetter {
  font-size: 1rem;
}
