.LoginContainer {
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/loginbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    185,
    175,
    175,
    0.5
  ); /* Change the last value (0.5) to adjust opacity */
}

.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 1.5rem 2rem;
  height: 500px;
  background-color: #fff;
  border-radius: 0.5rem;
}

.LightFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 400px;
  row-gap: 2rem;
  padding: 0 1rem 4rem 1rem;
}

.DarkFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 400px;
  row-gap: 2rem;
  padding: 0 1rem 4rem 1rem;
}

.loginLogo {
  height: 20vh;
  padding: 1rem;
}

.ButtonLetter {
  font-size: 1rem;
}
