@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.dark {
  background-color: rgb(60, 56, 56);
  transition: 0.5s ease-in-out;
}

.light {
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
