@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
 font-family: "Montserrat", sans-serif;
}

/* body {
  background-image: url("../../control-center/src//assets//loginbg.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.dark {
  background-color: rgb(60, 56, 56);
  transition: 0.5s ease-in-out;
}

.light {
  background-color: #fff;
  transition: 0.5s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 0.4rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #24288a;
  border-radius: 10px;
  cursor: pointer;
}
